h1 {
	color: #ddd;
	font-family: sans-serif;
	text-align: right;
	font-size: 40px;
}
#slogan {
	text-align: left;
	font-family: "Times Roman", serif;
	font-style: italic;
	font-size: 35px;
	color: #ddd;
}
body {
	background: url("http://eliden5216.github.io/unit_3/images/silver_bean.jpg");
  	background-size: cover;
  	background-repeat: no-repeat;
}
#footer {
	position: absolute;
	padding: 30px;
	bottom: 0;
	text-align: right;
	color: #222;
	font-style: italic;
	font-size: 15px;
}
#footer a {
	text-decoration: none;
	color: #ddd;
}
hr {
	width: 1200px;
	align: right;
}
